@import '@/assets/scss/commin.scss';
.content-centre {
     overflow: hidden;
     padding-top: 20px;
}

/*=================================右边正文======================================*/

.text-right {
     padding-bottom: 30px;
}

/*title*/

.text-right .title {
     width: 1013px;
     padding: 0 0 0 20px;
     height: 60px;
     background: #FFFFFF;
     line-height: 60px;
     margin-bottom: 20px;
}

.content-centre .title p {
     font-size: 14px;
     font-weight: 300;
     color: #666666;
}

.text-right-box {
     width: 1033px;
     /*height: 792px;*/
     padding-bottom: 30px;
     background: #ffffff;
}

/* 头像和账户 */

.text-right-top {
     width: 977px;
     height: 141px;
     padding: 40px 0 0 45px;
}

.text-right-top .info {
     width: 938px;
     height: 100%;
     border-bottom: 1px solid #F2F2F2;
}

.text-right-top .info .info-photo {
     width: 100px;
     height: 104px;
     position: relative;
}

.text-right-top .info .info-photo img {
     width: 100%;
     height: 100%;
     border-radius: 10px;
     display: inline-block;
     cursor: pointer;
}

.info .info-photo input[type='file'] {
     width: 100px;
     height: 104px;
     position: absolute;
     left: 0px;
     top: 0;
     font-size: 50px;
     opacity: 0;
     filter: Alpha(Opacity=0);
     cursor: pointer;
}

/*个人信息*/

.info .info-account {
     padding-left: 131px;
     height: 104px;
}

.info .info-account li {
     height: 52px;
     line-height: 52px;
}

.info .info-account li div {
     font-size: 16px;
     color: #4C4C4C;
     width: 310px;
     /*font-weight: bold;*/
}

.info .info-account li div .right {
     width: auto;
     font-weight: 300;
}

.text-right .text-right-bottom {
     width: 916px;
     padding: 0 72px 0 45px;
}

.text-right .text-right-bottom li {
     width: 100%;
     padding-left: 22px;
     height: 105px;
     line-height: 105px;
     border-bottom: 1px solid #F2F2F2;
}

.text-right .text-right-bottom li .left {
     width: 168px;
     font-size: 16px;
     /*font-weight: bold;*/
     color: #4D4D4D;
     text-align: left;
     margin-right: 134px;
}

.text-right .text-right-bottom li .center {
     font-size: 16px;
     font-weight: 300;
     color: #999999;
}

.text-right .text-right-bottom li .apply{
     cursor: pointer;
     color: #E2231A;
     margin-right: 16px;
}




/*弹窗*/

.alertForm {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
}

.alertForm .dog_alert {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000000;
	opacity: 0.3;
	/*font-size: 100px;*/
	filter: Alpha(Opacity=30);
}

.alertForm .text {
	    width: 440px;
    height: 275px;
	background: #FFFFFF;
	border-radius: 10px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	*left: 50%;
	*margin-left: -227px;
	*top: 50%;
	*margin-top: -175px;
}

.alertForm .text h3 {
	padding: 13px 0;
	font-size: 18px;
	font-family: MicrosoftYaHeiLight;
	font-weight: bold;
	color: #4D4D4D;
	text-align: center;
	font-weight: 400;
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 20px;
}

.alertForm .text h3 img {
	width: 16px;
	margin-right: 12px;
	*position: relative;
	*top: -40px;
	cursor: pointer;
}
.alertForm .text>p{
	 margin-left: 75px;
	 margin-bottom: 10px;
}

.alertForm .text .protocol {
     overflow: hidden;
     margin-bottom: 50px;
}

.alertForm .text .protocol img {
     cursor: pointer;
     width: 20px;
     margin-left: 45px;
}
.alertForm .text .protocol >div:first-child {
     overflow: hidden;
}
.alertForm .text .protocol >div:first-child+div{
     width: 100%;
     text-align: center;
}
.alertForm .text .protocol p {
     width: 350px;
     margin-left: 10px;
     font-size: 15px;
     
}

.alertForm .text .protocol p a {
     color: red;
}
.alertForm .text .bot {
	width: 100%;
	height: 60px;
	border-top:1px solid  #EBEBEB;
}
.alertForm .text .bot p{
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}
.alertForm .text .bot p.cancel{
	width:100px;
height:36px;
border:1px solid rgba(226,35,26,1);
border-radius:4px;
font-size:16px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(226,35,26,1);
text-align: center;
line-height: 36px;
cursor: pointer;
}
.alertForm .text .bot p.determine{
	width:100px;
height:36px;
background: #E2231A;
border-radius:4px;
font-size:16px;
font-family:MicrosoftYaHei;
font-weight:400;
color:white;
text-align: center;
line-height: 36px;
cursor: pointer;
}