.content-centre {
    overflow: hidden;
    padding-top: 36px;
}


/*右边正文*/

.content-centre .text-right {
    width: 1041px;
    font-weight: 300;
}

.content-centre .title {
    width: 1005px;
    padding: 0 18px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
    border-radius: 3px;
    line-height: 59px;
    margin-bottom: 13px;
}

.content-centre .title p {
    font-size: 14px;
    color: #666666;
}

.content-centre .text {
    width: 1005px;
    height: 300px;
    padding: 0 18px 18px 18px;
    min-height: 20px;
    background: #fff;
    box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
    border-radius: 3px;
    margin-bottom: 50px;
}

.title_ti {
    width: 1041px;
    height: 50px;
    float: right;
    margin-top: 15px;
}

.title_ti .title_ti_p {
    font-size: 18px;
    color: #333333;
    float: left;
    line-height: 50px;
}

.title_ti .title_ti_span {
    display: block;
    font-size: 16px;
    color: #286AC7;
    float: left;
    line-height: 50px;
    margin-left: 27px;
    cursor: pointer;
}

.title_ti .title_ti_i {
    display: block;
    float: right;
    /*width: 881px;*/
    width: 948px;
    height: 1px;
    background: #CCCCCC;
    margin-top: 25px;
}


.text_le {
    width: 1040px;
    overflow: hidden;
    min-height: 20px;
    box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
    border-radius: 3px;
    padding-top: 14px;
    float: right;
    margin-bottom: 20px;
}

.text_le .left_text {
    width: 557px;
    height: 290px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
    border-radius: 3px;
    float: left;
}

.text_le .text_ul{
    height: 100%;
    margin-bottom: 20px;
    padding-left: 41px;
}

.text_le .text_ul .fl {
    width: 202px;
    height: 112px;
    text-align: center;
    background: #F6F6F6;
    font-size: 16px;
    color: #4D4D4D;
    margin: 19px 15px 17px 21px;
    line-height: 20px;
}

.text_le .text_ul .fl span{
    display: inline-block;
    margin-top: 20px;
}
.text_le .text_ul .fl p{
    margin-top: 20px;
    color: #FC6C0C;
    font-weight:bold;
}

/*验证*/

.form {
    width: 1041px;
    height: 700px;
    /*height: auto;*/
    background: #fff;
    box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
    border-radius: 3px;
    font-weight: 300;
    font-size: 15px;
    color: #333333;
}

.form .form-item {
    margin-bottom: 23px;
    padding-left: 34px;
    line-height: 37px;
    width: 100%;
    height: 37px;
}

.form .form-item.first {
    overflow: hidden;
    width: 100%;
    height: 75px;
}

.form .form-item.first li {
    width: 150px;
    height: 40px;
    margin-right: 15px;
    font-size: 13px;
    color: #4D4D4D;
    font-weight: 400px;
}

.form .form-item.first select {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.form .form-item.first li input {
    width: 100px;
    height: 37px;
    display: none;
}

.form .form-item:first-child {
    margin-top: 24px;
}

/*lebel定义*/

.form .form-item input[type=text] {
    width: 269px;
    background: #F6F6F6;
    border-radius: 3px;
    border: 0;
    font-size: 15px;
    height: 17px;
    line-height: 17px;
    padding: 10px 0 10px 21px;
}

.form .form-item:first-child+.form-item input {
    width: 652px;
}

.form .form-item.last {
    overflow: hidden;
    width: 100%;
    height: 200px;
    /*margin-bottom: 49px;*/
}

.form .form-item.last li {
    width: 124px;
    height: 167px;
    margin-right: 15px;
    text-align: center;
    font-size: 13px;
    color: #4D4D4D;
    font-weight: 400px;
    position: relative;
}

.form .form-item.last li .img {
    width: 122px;
    height: 91px;
    border: 1px dashed #CCCCCC;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    *margin-bottom: 10px;
}

.form .form-item.last li input[type='file'] {
    width: 100%;
    height: 100%;
    font-size: 100px;
    background: red;
    opacity: 0;
    filter: Alpha(Opacity=0);
    cursor: pointer;
}

/*删除显示*/

.form .form-item.last li .isShow {
    width: 124px;
    height: 93px;
    position: absolute;
    top: 37px;
    left: 0;
    *top: 27px;
    z-index: 100;
    display: none;
}

.form .form-item.last li .parent {
    width: 124px;
    height: 93px;
    position: absolute;
    top: 0px;
    left: 0;
    background: #000000;
    opacity: 0.4;
    filter: Alpha(Opacity=40);
}

.form .form-item.last li .top_background {
    width: 124px;
    height: 29px;
    background: #000;
    opacity: 0.4;
    filter: Alpha(Opacity=40);
    position: absolute;
    top: 32px;
    left: 0;
}

.form .form-item.last li .p {
    width: 124px;
    height: 29px;
    line-height: 29px;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.form .form-item.last li img:hover .form .form-item.last li .p {
    display: block;
}

.form .form-item.last li img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    width: 122px;
    height: 91px;
    display: none;
}

.form-common-verification .verification-relus {
    margin-left: 0;
}

.form .form-item.last li:first-child .img {
    position: relative;
    background: url('~@/assets/imagesRecode/businesslicense.png') no-repeat center;
    /*filter: (progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src="", sizingMethod=scale))*/
}

.form .form-item.last li:first-child+li .img {
    background: url('~@/assets/imagesRecode/cardFront.png') no-repeat center;
}

.form .form-item.last li:first-child+li+li .img {
    background: url('~@/assets/imagesRecode/cardreal.png') no-repeat center;
}

.form .form-item.last li:first-child+li+li+li .img {
    background: url('~@/assets/imagesRecode/card.png') no-repeat center;
}

.form .form-item.last li:first-child+li+li+li+li .img {
    background: url('~@/assets/imagesRecode/bankcard.png') no-repeat center;
}

.form .button button {
    margin-right: 33px;
    width: 229px;
    height: 45px;
    background: #E1212D;
    border-radius: 3px;
    line-height: 45px;
    text-align: center;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.form .button button:active {
    box-shadow: 0px 0px 50px #F60 inset;
    color: #fff;
}

/* 乡村数据右图表echarts */

.content-centre .data-right {
    display: none;
    float: right;
    width: 450px;
    height: 290px;
    margin-left: 21px;
}

.content-centre .data-right .data-echarts {
    overflow: hidden;
    margin-bottom: 17px;
    background: #fff;
    box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
    border-radius: 3px;
    padding-top: 20px;
}

.content-centre .data-right .data-echarts .echats {
    float: left;
}

.content-centre .data-right .data-title {
    font-size: 16px;
    font-weight: normal;
    color: #B3B3B3;
    text-align: center;
}