@import '@/assets/scss/commin.scss';
.content-centre {
    position: relative;
    min-height: 722px;
    overflow: hidden;
    padding: 26px 0 0;
    margin-bottom: 26px;
}


/* 右边 */

.text-right {
    width: 1039px;
    min-height: 470px;
}


/* 积分顶部 */

.text-right-level {
    height: 215px;
    width: 100%;
    background: #FFFFFF;
}

.text-right-level ul li {
    height: 48px;
    line-height: 48px;
}

.text-right-level ul li:first-child {
    padding-top: 20px;
}

.text-right-level li .level-title {
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
    width: 116px;
    text-align: right;
    margin-right: 30px;
}

.text-right-level li .level-number {
    font-size: 20px;
    font-weight: bold;
    color: #E2231A;
}

.text-right-level li .icon {
    display: inline-block;
    width: 82px;
    height: 22px;
    background: url("~@web/buyerPersonCenter/image/jifen_jibdb.png");
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.text-right-level li img {
    vertical-align: middle;
}

.text-right-level li p.icon {
    margin-top: 15px;
}

.text-right-level li .process {
    margin-right: 15px;
    width: 210px;
    *padding-top: 23px;
}

.text-right-level li .process .line {
    position: relative;
    line-height: 40px;
}

.text-right-level li .process .line i {
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #F9D3D1;
    border-radius: 2px;
}

.text-right-level li .process .line span {
    position: absolute;
    top: 20px;
    right: -12px;
    *top: 0;
    font-size: 14px;
    font-weight: 300;
}

.text-right-level li .process .red {
    margin-top: -40px;
    width: 0%;
    *margin-top: -4px;
}

.text-right-level li .process .red i {
    background: #E2231A;
}

.text-right-level li .process .red span {
    font-size: 14px;
    font-weight: bold;
    color: #FE9D48;
    top: -10px;
    *top: -35px;
}


/* 积分详情 */

.text-right-gradeDetails {
    min-height: 495px;
    background: #FFFFFF;
    width: 100%;
    margin-top: 12px;
}

.text-right h1 {
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 16px;
    font-weight: 400;
    color: #4C4C4C;
    line-height: 79px;
    text-indent: 53px;
}

.list {
    margin: 0 auto;
    width: 900px;
}

.list li {
    height: auto;
    border-bottom: 1px solid #EEEEEE;
    padding: 25px 0;
}

.list li p {
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
}

.list li p:first-child {
    height: auto;
    margin-bottom: 14px;
}

.list li span.fr {
    color: #E2231A;
}


/* 没有数据的提示 */

.noData {
    width: 100%;
    height: 390px;
    background: #FFFFFF;
    padding-top: 1px;
    // display: none;
}

.noData img {
    width: 496px;
    height: 231px;
    margin: 50px auto 0;
    display: block;
}

.noData p {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    text-align: center;
    margin-top: 52px;
}

.noData p a {
    font-weight: bold;
    color: #FE9D48;
    margin-left: 18px;
}