@import '@/assets/scss/commin.scss';
input,
textarea {
     font-size: 16px;
}

.content-centre {
     overflow: hidden;
     padding-top: 36px;
}

/*=================================右边正文======================================*/

.content-centre .text-right {
     width: 1041px;
     font-weight: 300;
}

/*title*/

.content-centre .title {
     width: 1005px;
     padding: 0 18px;
     height: 59px;
     background: #FFFFFF;
     box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
     border-radius: 3px;
     line-height: 59px;
     margin-bottom: 13px;
}

.content-centre .title p {
     font-size: 20px;
     color: #333333;
}

.content-centre .title p:first-child+p {
     display: none;
}

.text-right .text {
     margin-bottom: 100px;
}

/* 添加列表 */

.text-right .list {
     width: 1041px;
}

/* 添加列表 */

.text-right .list>li {
     padding: 1px 0 0 13px;
     /*min-height: 87px;*/
     background: #FFFFFF;
     box-shadow: 0px 3px 3px 0px rgba(232, 232, 232, 0.4);
     border-radius: 3px;
     margin-bottom: 20px;
     position: relative;
}

.text-right .list>li>p {
     height: 26px;
     font-size: 20px;
     font-weight: 300;
     color: #808080;
     padding-top: 15px;
}

.text-right .list>li .form-item {
     margin-top: 24px;
     overflow: hidden;
}

.form .form-item.first {
     overflow: hidden;
     width: 100%;
     height: 65px;
}

.form .form-item.first li {
     width: 150px;
     height: 40px;
     margin-right: 15px;
     font-size: 13px;
     color: #4D4D4D;
     font-weight: 400px;
     padding: 0;
}

.form .form-item.first select {
     width: 150px;
     height: 30px;
     margin-top: 10px;
     border: 1px solid #ccc;
     border-radius: 3px;
}

.form .form-item.first .verification-relus {
     margin-left: 3px;
}

.close-div {
     margin-top: 10px;
     margin-bottom: 3px;
}

.text-right .list>li .form-item label,
.close-div label {
     font-size: 16px;
     font-weight: 400;
     /*line-height: 77px;*/
     line-height: 45px;
     color: #4D4D4D;
}

.text-right .list>li .form-item .verification-el-input input[type=text] {
     width: 449px;
     height: 17px;
     padding: 14px 11px;
     background: #F7F7F7;
     border-radius: 3px;
     font-weight: 300;
     border: none;
}

/* 上传图片按钮 */

.text-right .list>li .photo {
     height: 119px;
}

.text-right .list>li .photo .verification-el-input {
     width: 92px;
     height: 89px;
     border: 1px dashed #286AC7;
     border-radius: 5px;
     margin-right: 17px;
     position: relative;
}

.text-right .list>li .photo label {
     line-height: 90px;
}

.text-right .list li .photo .verification-el-input {
     background: url('~@/assets/imagesRecode/plus.png') no-repeat center;
     text-align: center;
     cursor: pointer;
}

.text-right .list>li .photo .verification-el-input img {
     display: none;
     width: 100%;
     height: 100%;
}

.text-right .list>li .photo .verification-el-input input[type="file"] {
     width: 92px;
     height: 89px;
     font-size: 20px;
     opacity: 0;
     filter: Alpha(Opacity=0);
}

.text-right .list>li .photo .verification-el-input .isShow {
     width: 92px;
     height: 89px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 100;
     display: none;
}

.text-right .list>li .photo .verification-el-input .background {
     width: 92px;
     height: 89px;
     background: #000000;
     opacity: 0.4;
     filter: Alpha(Opacity=40);
     position: absolute;
     left: 0;
     top: 0;
}

.text-right .list>li .photo .verification-el-input .deltree {
     width: 92px;
     height: 35px;
     background: #000000;
     opacity: 0.4;
     filter: Alpha(Opacity=40);
     position: absolute;
     left: 0;
     top: 28px;
}

.text-right .list>li .photo .verification-el-input .deltree_text {
     width: 92px;
     height: 35px;
     position: absolute;
     left: 0;
     top: 28px;
     font-size: 15px;
     font-weight: 400;
     line-height: 35px;
     color: #fff;
     cursor: pointer;
}

.text-right .list>li .form-item .verification-el-input span {
     font-size: 18px;
     font-weight: 400;
     color: #333333;
}

.text-right .list>li .form-item .verification-el-input i {
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("~@/assets/imagesRecode/redNoselected.png");
     margin: 0 35px 0 11px;
     vertical-align: text-top;
}

.text-right .list>li .form-item .verification-el-input .active {
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("~@/assets/imagesRecode/redSelected.png")
}

/* 单价和库存 */

.text-right .list>li p:first-child+div label,
.text-right .list>li p:first-child+div+div+div+div label,
.text-right .list>li p:first-child+div+div+div+div+div label {
     line-height: 45px;
}

.text-right .list>li p:first-child+div+div+div+div .verification-el-input input[type=text],
.text-right .list>li p:first-child+div+div+div+div+div .verification-el-input input[type=text] {
     /*color: #999999;*/
     width: 137px;
     border-radius: 3px;
     font-weight: 400;
     text-align: right;
     border: none;
}

/* 是否上架退货 */

.text-right .list>li .exchange label,
.text-right .list>li .up label {
     line-height: 24px;
}

.text-right .list .exchange {
     padding-bottom: 90px;
}

/* 商品说明发货地址 */

.text-right .list textarea {
     height: 65px;
     padding: 12px 0 0 11px;
     background: #F7F7F7;
     border-radius: 3px;
     font-weight: 300;
     border: none;
}

/* 完成编辑按钮 */

.button {
     width: 100%;
     height: 45px;
     margin-top: 17px;
}

/* 添加第二件 */

.button .fl {
     width: 173px;
     height: 40px;
     background: #FFFFFF;
     border: 1px solid #286AC7;
     border-radius: 3px;
     font-size: 18px;
     font-weight: 300;
     color: #808080;
}

textarea {
     overflow: hidden;
     resize: none;
}

/* 完成和返回上一页 */

.end-btn {
     height: 47px;
}

.end-btn button {
     width: 179px;
     height: 45px;
     background: #E1212D;
     border: 1px solid #E1212D;
     border-radius: 3px;
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     cursor: pointer;
}

.end-btn a {
     display: inline-block;
     width: 200px;
     height: 43px;
     background: #FFFFFF;
     border: 1px solid #E1212D;
     border-radius: 3px;
     font-size: 16px;
     font-weight: 300;
     color: #333333;
     text-align: center;
     line-height: 45px;
     margin-right: 49px;
}

/* 展开删除收起 */

.handle {
     height: 73px;
     width: 132px;
     position: absolute;
     top: 7px;
     right: 7px;
}

.handle .fl {
     width: 64px;
     height: 73px;
     background: #F6F7FA;
     border-radius: 3px;
     font-size: 18px;
     font-weight: 400;
     color: #333333;
     text-align: center;
     cursor: pointer;
     margin-left: 2px;
}

.handle .fl img {
     width: 24px;
     height: 24px;
     display: block;
     margin: 12px auto;
}

.handle .open {
     display: none;
}

.text-right .list>li .close-div span {
     font-size: 20px;
     font-weight: 400;
     color: #333333;
}

.close-div {
     display: none;
}

/*验证样式单调*/

.text-right .list>li .form-item {
     padding-left: 20px;
}

.text-right .list>li .form-item .verification-el-input {
     /*overflow: hidden;*/
}

.text-right .list>li .form-item.inputFont .verification-relus {
     line-height: 82px;
}

#form .form-item.photo .verification-el-input .verification-relus {
     margin-left: 10px;
     position: relative;
     top: 5px;
}

.text-right .list>li .form-item .form-required {
     top: 40%;
     *top: 35%;
}

.text-right .list>li .form-item.photo .form-required {
     top: 22%;
     *top: 20%;
}

.layui-layedit {
     width: 800px;
     /*height: 200px;*/
     margin: 0 auto;
}

body {
     position: static;
}

.w-e-menu {
     display: inline-block;
}

.w-e-panel-tab-title li:first-child+li {
     /*display: none;*/
}

/*属性*/

.property>.verification-el-input>.addproperty>div {
     margin-top: 5px;
     line-height: 36px;
     width: 120px;
     height: 36px;
     border: 1px solid #E2231A;
     border-radius: 4px;
     display: inline-block;
     text-align: center;
     color: #E2231A;
     font-size: 16px;
     cursor: pointer;
     background: #fff;
}

.property>.verification-el-input>.addproperty span {
     margin-left: 10px;
     font-size: 16px !important;
}


.text-right .form-item.property li:first-child {
     margin-top: 10px;
}

.text-right .form-item.property li p {
     margin-bottom: 5px;
     overflow: hidden;
}

.text-right .form-item.property .verification-el-input li p span {
     font-size: 16px;
     width: 70px;
     display: inline-block;
}

.text-right .form-item.property .verification-el-input li p .del {
     margin-left: 10px;
     cursor: pointer;
}

.text-right .list li .form-item.property .verification-el-input input {
     width: 200px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background: #fff;
     padding: 5px 11px;
}